@import "tailwindcss";

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

body {
  height: 100%;
  overflow-x: hidden;
}
